body {
    font-family: "Arial Narrow", Arial;
    color: black;
    height: 100vh;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 1em;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 1em;
}

li a:hover {
    background-color: #f0f0f0;
}

main {
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
    max-width: 50rem;
    margin: 0 auto;
}


